<!-- code adapted from: https://www.angular-meteor.com/tutorials/whatsapp/
 -->

<ion-view title="{{ chat.data.name }}">
  <ion-nav-buttons side="right">
     <button class="button button-clear"><img class="header-picture" ng-src="{{ chat.data.picture }}"></button>
<!--  delegate-handle="chatScroll" in the chat class below -->
  </ion-nav-buttons>
  <ion-content class="chat">
    <div class="message-list"">
      <div ng-repeat="message in chat.messages" class="message-wrapper">
	<!-- Every other message glitch on line below VVV -->
        <div class="message" ng-class="userId === message.userId ? 'message-mine' : 'message-other'">
        <!-- figure out who is logged in order to check who owns which message -->
          <div class="message-text">{{ message.text }}</div>
          <span class="message-timestamp">{{ message.timestamp | calendar }}</span> </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable footer-chat ">
  <input ng-model="chat.message"
         dir="auto"
         type="text"
         on-return="chat.sendMessage()";/>

<!-- checkbox might not be necessary anymore ;) -->
<!--   <ion-checkbox ng-model="isSelected" ng-click='chat.checkTimer(isSelected)'>Timer?</ion-checkbox>
  <div class="timerDropdown"> -->
  <div class="timer_dropdown">
    <label class="item item-input item-select">
      <div class="input-label">
        Seconds
      </div>
      <select ng-model="timer" ng-init="timer=0" class="dropdown_menu">
        <option value="0">No Timer</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    </label>
  </div>

  <button ng-click="chat.sendMessage()" class="button button-clear button-positive">Send</button>


  </ion-footer-bar>
</ion-view>
