<!-- code adapted from: https://www.angular-meteor.com/tutorials/whatsapp/
 -->

<ion-view title="ENIGMA - Login">
    <ion-content>
        <login-buttons style="z-index: 10;"></login-buttons>
        <form>
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="logger.email" >
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="logger.password" >
            </label>
            <button ng-click="logger.login()">Login</button>
            <button ng-click="logger.register()">Create Account</button>
        </form>
        {{currentUser}}
        <div ng-show="currentUser">I am visible only for logged in users!</div>
        <div ng-hide="currentUser">I am visible only for guests!</div>
    </ion-content>
</ion-view>
