<ion-view view-title="Settings">
    <ion-content>
        <div class="padding text-center">
            <div><button ng-click="settings.logout()" class="button button-clear">Logout</button></div>
            <div><button ng-click="settings.profile()" class="button button-clear">Profile</button></div>
        </div>
	<ion-list>
	  <ion-item href="#/profile" class="item-icon-right">
	    Profile
	    <i class="icon ion-chevron-right icon-accessory"></i>
	  </ion-item>
	</ion-list>
    </ion-content>
</ion-view>
